/* Typography */
.title {
  font-family: var(--font-family);
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: var(--spacing-md);
}

.subtitle {
  font-family: var(--font-family);
  font-size: 34px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: var(--spacing-lg);
}

.heading {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.sub-heading {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: -0.02em;
}

.sub-headline {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.body-copy {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-bottom: var(--spacing-lg);
}

.footnotes {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.highlight {
  color: var(--color-secondary);
}

@media (max-width: 1024px) {
  .subtitle br {
    display: contents;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 24px;
  }
}
