.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputField {
  padding: 18px 40px;
  background-color: var(--color-white);
  box-shadow: none;
  border: none;

  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.02em;

  &.disabled {
    background-color: var(--color-neutral-lightest);
    color: var(--color-neutral-light);
    cursor: not-allowed;
  }

  &::placeholder {
    color: var(--color-neutral-light);
  }
}
