# Enforce PNPM usage
package-manager-strict=true

# PNPM Configuration
auto-install-peers=true
dedupe-peer-dependents=false
save-exact=false
strict-peer-dependencies=false

# Performance optimizations
prefer-frozen-lockfile=true
resolution-mode=highest 