$height: 600px;
$height-image: 250px;
$height-image-illustration: 240px;

.featureCard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  max-width: 700px;
  min-height: 450px;
  width: 100%;
  background-color: var(--color-white);
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  .inner {
    border: 1px solid var(--color-primary-lightest);
    display: flex;
    flex-direction: column;
    height: 100%;

    .content {
      padding: var(--spacing-sm) var(--spacing-md) var(--spacing-md);
      color: var(--color-black);
      z-index: 1;
      position: relative;
    }

    .badge {
      background-color: var(--color-secondary);
      color: var(--color-black);
      padding: 10px 20px;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .imageWrapper {
      width: 100%;
      height: $height-image;
      position: relative;

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .heading {
      margin-bottom: var(--spacing-md);
    }

    .bodyCopy {
      margin-bottom: 0;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.illustrationCard {
  background-color: var(--color-secondary);

  .inner {
    border: none;

    .logo {
      margin-bottom: var(--spacing-md);
    }

    .content {
      padding-top: 40px;
      max-width: 380px;
      height: 100%;
    }
  }

  .illustrationWrapper {
    position: relative;
    width: 100%;
    height: $height-image-illustration;

    .illustration {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: bottom;
    }
  }

  .pattern {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;

    &.pattern1 {
      top: 1%;
      left: 25%;
      width: calc(192px / 5 * 2);
      height: calc(66px / 5 * 2);
    }

    &.pattern2 {
      top: 2%;
      right: 2%;
      width: calc(314px / 5 * 2);
      height: calc(356px / 5 * 2);
    }

    &.pattern3 {
      bottom: 30%;
      left: 2%;
      width: calc(76px / 5 * 2);
      height: calc(196px / 5 * 2);
    }

    &.pattern4 {
      bottom: 50%;
      right: 2%;
      width: calc(38px / 5 * 2);
      height: calc(46px / 5 * 2);
    }
  }
}

.iconCard {
  .inner {
    padding: var(--spacing-md);

    .iconWrapper {
      width: 100%;
      height: 200px;
      position: relative;

      .icon {
        width: auto;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    .content {
      color: var(--color-black);
      z-index: 1;
      position: relative;
      text-align: center;
      padding-top: 15px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: var(--spacing-md);
  color: var(--color-secondary);

  p {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 2px solid var(--color-secondary);
    line-height: 1;

    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }
  }
}

.specialCard {
  background-color: var(--color-primary);
  max-width: 600px;

  .inner {
    border: none;
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 30px;
    padding: var(--spacing-lg) 30px;
    align-items: flex-start;
    position: relative;

    .logoWrapper {
      width: 100%;
      height: 40px;
      position: relative;

      .logo {
        object-fit: contain;
      }
    }

    .content {
      padding: 0;
      color: var(--color-white);

      .bodyCopy {
        margin-bottom: 0;
        display: -webkit-box;
        -webkit-line-clamp: none;
        overflow: hidden;
      }

      .meta {
        color: var(--color-white);
        p {
          border-color: var(--color-white);
        }
      }
    }
  }

  .pattern {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;

    &.patternSpecial {
      bottom: 15px;
      left: 15px;
      width: calc(300px / 5 * 2);
      height: calc(640px / 5 * 2);
      object-fit: contain;
    }
  }
}
