.pageSection1 {
  background-color: var(--color-white);
  color: var(--color-black);

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-lg);
    padding: var(--spacing-lg) 0;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .leftSection {
      display: flex;
      align-items: center;
      justify-content: center;

      .image {
        object-fit: cover;
        object-position: center;
        height: auto;

        @media (max-width: 1024px) {
          width: 100%;
        }
      }
    }

    .rightSection {
      padding: var(--spacing-xl) 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @media (max-width: 1024px) {
        padding: var(--spacing-md) 0;
      }

      @media (max-width: 768px) {
        padding: 0;
      }

      .inner {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);

        .heading {
          color: var(--color-black);

          @media (max-width: 1024px) {
            br {
              display: none;
            }
          }
        }

        .bodyCopy {
          color: var(--color-black);
        }
      }
    }
  }
}
